<main>
    <header class="page-header">
        <h1><i class="fas fa-user-edit"></i> Editar de Usuário</h1>
        <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
        <p-toast></p-toast>
        <br>
    </header>
    <form [formGroup]="formEdicao">
    <article class="page-content">
        <div class="page-content-card content">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-item ">
                  <label>Nome Completo*</label>
                  <input [(ngModel)]="usuario.nome" class="form-control required" formControlName="nome" name="nome" type="" required>
                  <ng-container *ngIf="formEdicao.controls.nome.touched">
                    <small *ngIf="formEdicao.controls.nome.errors?.required" class="p-error" style="font-style: italic;" >
                      Campo obrigatório
                    </small>
                </ng-container>  
                </div>
              </div>
                <div class="col-sm-6">
                    <div class="form-item ">
                        <label>Perfil*</label>
                        <select [(ngModel)]="usuario.perfil" formControlName="perfil"
                                class="custom-select" name="perfil" id="perfil" required>
                            <option value="ADMIN">Administrador</option>
                        </select>
                        <ng-container *ngIf="formEdicao.controls.perfil.touched">
                            <small *ngIf="formEdicao.controls.perfil.errors?.required" class="p-error" style="font-style: italic;" >
                              Campo obrigatório
                            </small>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-item ">
                        <label>CPF (Apenas números)*</label>
                        <input [(ngModel)]="usuario.cpf" formControlName="documento" class="form-control required" name="documento" id="documento" numeric type="text" minlength="11" 
                        maxLength="11" pInputText placeholder="Número do CPF" required
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                        type = "number"  maxlength = "11">
                      <ng-container *ngIf="formEdicao.controls.documento.touched">
                        <small *ngIf="formEdicao.controls.documento.errors?.required" class="p-error" style="font-style: italic;" >
                          Campo obrigatório
                          <br>
                        </small>
                      </ng-container>
                      <ng-container *ngIf="formEdicao.controls.documento.dirty">
                        <small *ngIf="validarCpf(usuario.cpf) == false" class="p-error" style="font-style: italic;">
                          Número de CPF inválido
                        </small>
                    </ng-container>
                    </div>
                </div>
              <div class="col-sm-6">
                <div class="form-item ">
                  <label>E-mail*</label>
                  <input [(ngModel)]="usuario.email" formControlName= "email" class="form-control required" name="email" type="email" ngmodel pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                  <ng-container *ngIf="formEdicao.controls.email.touched">
                    <small *ngIf="formEdicao.controls.email.errors?.required" class="p-error" style="font-style: italic;" >
                      Campo obrigatório
                    </small>
                    <small *ngIf="formEdicao.controls.email.errors?.email" class="p-error" style="font-style: italic;" >
                      E-mail inválido
                    </small>
                  </ng-container>   
                </div>
              </div>

            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-item ">
                        <label>Endereço*</label>
                        <input [(ngModel)]="usuario.endereco"  formControlName="endereco" class="form-control required" name="endereco" type="text" required>
                        <ng-container *ngIf="formEdicao.controls.endereco.touched">
                            <small *ngIf="formEdicao.controls.endereco.errors?.required" class="p-error" style="font-style: italic;" >
                                Campo obrigatório
                              </small>
                            </ng-container>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-item ">
                        <label>Telefone*</label>
                        <input [(ngModel)]="usuario.telefone" formControlName="telefone" class="form-control required" name="telefone" type="text" required>
                        <ng-container *ngIf="formEdicao.controls.telefone.touched">
                            <small *ngIf="formEdicao.controls.telefone.errors?.required" class="p-error" style="font-style: italic;" >
                                Campo obrigatório
                              </small>
                            </ng-container>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-item ">
                        <label>Senha* <small> (mínimo 6 caracteres)</small> </label>
                        <input [(ngModel)]="usuario.senha" formControlName="senha" class="form-control required" name="senha" type="password" required>
                        <ng-container *ngIf="formEdicao.controls.telefone.touched">
                            <small *ngIf="formEdicao.controls.senha.errors?.required" class="p-error" style="font-style: italic;" >
                                Campo obrigatório
                              </small>
                            </ng-container>
                    </div>
                </div>
            </div>
           
        </div>
    </article>

    <button [disabled]="!formEdicao.valid" type="button" class="btn btn-success bt-page" routerLink="/usuarios" (click)="editarUsuario(usuario)"><i class="fas fa-save"></i> Salvar</button> 
    <button type="button" class="btn btn-danger bt-page-cancel" routerLink="/usuarios" (click)="cancelarEdicao()"><i class="fas fa-ban"></i> Cancelar</button>
  

</form>
</main>
