<main>
  <header class="page-header">
    <h1><i class="fas fa-home"></i> Início</h1>
  </header>
  <article class="page-content">
    <div class="page-content-card content">
      <h2><i class="fa fa-handshake" aria-hidden="true"></i>Seja Bem-vinda(o), ao Doador em Nuvem!</h2>
      <br>
      <h5>Projeto desenvolvido na disciplina de Engenharia de Software (Mestrado IFPB 2021)</h5>
      <p>Alunos: Ayrton Douglas, Daniel Brandão, Danilo Marcolino Tavares, Poliana Campelo, Thiago Gonçalo.</p>

    </div>
  </article>

</main>
