<main>
<header class="page-header">
  <h1><i class="fas fa-user-friends"></i> Lista de Doadores</h1>
</header>
  <div class="card">
    <div *ngIf="doadores.length == 0">Nenhum registro encontrado.</div>
    <p-table #dt [value]="doadores" [rowHover]="true"  
    [globalFilterFields]="['nome','grupoabo','dtnasc', 'celular', 'data_proxima_doacao']">
      <ng-template pTemplate="caption">
        <div class="header">            
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
              placeholder="Pesquisar" />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
      <tr>
        <th style="width: 8rem" pSortableColumn="registro">Registro<p-sortIcon field="doadores.registro"></p-sortIcon></th>
        <th pSortableColumn="nome">Nome<p-sortIcon field="doadores.nome"></p-sortIcon></th>
        <th style="width: 6rem" pSortableColumn="grupoabo">Tipo <p-sortIcon field="doadores.grupoabo"></p-sortIcon></th>
        
        <th pSortableColumn="dtnasc">Data Nasc. <p-sortIcon field="doadores.dtnasc"></p-sortIcon></th>        
        <!-- <th>Telefone</th> -->
        <th style="width: 8rem">Celular</th>
        <th style="width: 8rem" pSortableColumn="data_proxima_doacao">Próxima doação <p-sortIcon field="doadores.data_proxima_doacao"></p-sortIcon></th>
        <th scope="col">Permite Notificacão</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-d>
      <!-- <tr  *ngFor="let d of doadores; index as i">         -->
        <tr>
        <td> {{ d.registro }}</td>
        <td>{{ d.nome }}</td>
        <td>{{ d.grupoabo + (d.fatorrh
          | replace : 'P' : '+'
          | replace : 'N' : '-')}}</td>
        <td>{{ d.dtnasc | date: 'dd/MM/yyyy' }}</td>
        <!-- <td>{{ d.fone }}</td> -->
        <td>{{ d.celular }}</td>
        <td> {{ d.data_proxima_doacao | date: 'dd/MM/yyyy' }}</td>
        <td><h5><p-selectButton [options]="permNotiOpcoes" [(ngModel)]="d.permissao_notificacao" optionLabel="label" optionValue="value" (onChange)="atualizarPermissaoNotificacao(d.registro, $event)"></p-selectButton></h5></td>
      </tr>
    </ng-template>
    </p-table>
</div>
</main>
