<main>
    <header class="page-header">
        <h1><i class="fas fa-user-edit"></i> Cadastro de Usuário</h1>
        <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
        <p-toast></p-toast>
        <br>
    </header>
    <form [formGroup]="formCadastro">
    <article class="page-content">
        <div class="page-content-card content">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-item">
                  <label>Nome Completo*</label>
                  <input [(ngModel)]="usuario.nome" class="form-control required" formControlName="nome" name="nome" id="nome" type="text"  pInputText placeholder="Nome completo" required>
                  <ng-container *ngIf="formCadastro.controls.nome.touched">
                    <small *ngIf="formCadastro.controls.nome.errors?.required" class="p-error" style="font-style: italic;" >
                      Campo obrigatório
                    </small>
                </ng-container>
                </div>
              </div>
                <div class="col-sm-6">
                    <div class="form-item ">
                        <label>Perfil</label>
                        <select [(ngModel)]="usuario.perfil" formControlName="perfil"
                                class="custom-select" name="perfil" id="perfil" pInputText placeholder="Perfil" required>
                            <option value="ADMIN">Administrador</option>
                        </select>
                        <ng-container *ngIf="formCadastro.controls.perfil.touched">
                            <small *ngIf="formCadastro.controls.perfil.errors?.required" class="p-error" style="font-style: italic;" >
                              Campo obrigatório
                            </small>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-item ">
                        <label>CPF (Apenas números)*</label>
                      <input [(ngModel)]="usuario.cpf" formControlName="documento" class="form-control required" Nname="documento" id="documento" numeric type="number" [maxLength]="11" pInputText placeholder="Número do CPF"  required>
                      <ng-container *ngIf="formCadastro.controls.documento.touched">
                        <small *ngIf="formCadastro.controls.documento.errors?.required" class="p-error" style="font-style: italic;" >
                          Campo obrigatório
                        </small>
                    </ng-container>
                    </div>
                </div>
              <div class="col-sm-6">
                <div class="form-item ">
                  <label>E-mail*</label>
                  <input [(ngModel)]="usuario.email"  formControlName= "email" class="form-control required" Name="email" id="email" type="email" pInputText placeholder="nome@email.com" required>
                  <ng-container *ngIf="formCadastro.controls.email.touched">
                  <small *ngIf="formCadastro.controls.email.errors?.required" class="p-error" style="font-style: italic;" >
                    Campo obrigatório
                  </small>
                  <small *ngIf="formCadastro.controls.email.errors?.email" class="p-error" style="font-style: italic;" >
                    E-mail inválido
                  </small>
                </ng-container>
                </div>
              </div>

            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-item ">
                        <label>Endereço*</label>
                        <input [(ngModel)]="usuario.endereco" formControlName="endereco" class="form-control required" name="endereco" type="text" pInputText placeholder="Endereço"  required>
                        <ng-container *ngIf="formCadastro.controls.endereco.touched">
                        <small *ngIf="formCadastro.controls.endereco.errors?.required" class="p-error" style="font-style: italic;" >
                            Campo obrigatório
                          </small>
                        </ng-container>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-item ">
                        <label>Telefone*</label>
                        <input type="number" [(ngModel)]="usuario.telefone" formControlName="telefone" class="form-control required" name="telefone" numeric pInputText placeholder="Ex.: 83988887777" required>
                        <ng-container *ngIf="formCadastro.controls.telefone.touched">
                        <small *ngIf="formCadastro.controls.telefone.errors?.required" class="p-error" style="font-style: italic;" >
                            Campo obrigatório
                          </small>
                        </ng-container>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-item ">
                        <label>Senha* (mínimo 6 caracteres)</label>
                        <input [(ngModel)]="usuario.senha" formControlName="senha" class="form-control required" name="senha" type="password" pInputText placeholder="*****" required>
                        <ng-container *ngIf="formCadastro.controls.telefone.touched">
                        <small *ngIf="formCadastro.controls.senha.errors?.required" class="p-error" style="font-style: italic;" >
                            Campo obrigatório
                          </small>
                        </ng-container>
                    </div>
                </div>
            </div>
            <br>
            <small class="p-error">*Campos obrigatórios</small>

        </div>
    </article>
    <button (click)="onSubmit()" [disabled]="!formCadastro.valid" type="submit" class="btn btn-success bt-page" routerLink="/usuarios"><i class="fas fa-save"></i> Salvar</button>
    <button (click)="cancelarCadastro()" type="button" class="btn btn-danger bt-page-cancel" routerLink="/usuarios"><i class="fas fa-ban"></i> Cancelar</button>
</form>
</main>
