<main>
<header class="page-header">
  <h1><i class="fas fa-user"></i> Lista de Usuários</h1>
  <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
  <p-toast></p-toast>
</header>

<article class="page-content">

      <div class="page-content-card content">
      <div *ngIf="usuarios.length == 0">Carregando...</div>

       <table *ngIf="usuarios.length == 0" class="table">
         <ng-template>
         <thead>
            <tr> Nenhum usuário encontrado</tr>
          <tr>

            <th scope="col"></th>
            <th scope="col">Nome</th>
            <th scope="col">E-MAIL</th>
            <th scope="col">PERFIL</th>
            <th scope="col">CPF/CNPJ</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        </ng-template>
        <tbody>
          <tr *ngFor="let u of usuarios; index as i">
            <th scope="row">{{ u.id }}</th>
              <td>{{ u.nome }}</td>
              <td>{{ u.email }}</td>
              <td>{{ u.perfil }}</td>
              <td>{{ u.cpf }}</td>
              <td>
                <button type="button" class="btn btn-dark" routerLink="/editar-usuarios/{{u.cpf}}"><i class="fas fa-edit"></i> Editar</button>
               &nbsp;
                <button type="button" class="btn btn-danger" routerLink="/usuarios" (click)="excluirUsuario(u)"><i class="fas fa-trash-alt"></i> Excluir</button>
              </td>
            </tr>
            </tbody>
          </table>

          <p class="line-add-button"><button type="button" class="btn btn-primary" routerLink="/cadastro-usuario"><i class="fas fa-plus"></i>  Adicionar</button></p>
    </div>
</article>
</main>
