<main>
  <header class="page-header">
    <h1><i class="fas fa-user"></i> Lista de Usuários</h1>
    <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
    </p-confirmDialog>
    <p-toast></p-toast>
  </header>
  <article class="page-content">
    <div class="page-content-card content">
      <div *ngIf="usuarios.length == 0">Nenhum registro encontrado.</div>
      <p-table #dt [value]="usuarios" styleClass="table" 
      [globalFilterFields]="['nome','email','perfil','cpf']">
        <ng-template pTemplate="caption">
          <div class="header">            
            <span class="p-input-icon-left p-ml-auto">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                placeholder="Pesquisar" />
            </span>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="nome">Nome <p-sortIcon field="usuarios.nome"></p-sortIcon>
            </th>
            <th pSortableColumn="email">E-mail <p-sortIcon field="usuarios.email"></p-sortIcon>
            </th>
            <th pSortableColumn="perfil">Perfil <p-sortIcon field="usuarios.perfil"></p-sortIcon>
            </th>
            <th pSortableColumn="cpf">Cpf <p-sortIcon field="usuarios.cpf"></p-sortIcon>
            </th>
            <th>Ações</th>
          </tr>

        </ng-template>
        <ng-template pTemplate="body" let-u>
          <!-- <tr *ngFor="let u of usuarios; index as i"> -->
            <tr>
            <td>{{ u.nome }}</td>
            <td>{{ u.email }}</td>
            <td>{{ u.perfil }}</td>
            <td>{{ u.cpf }}</td>
            <td>
              <button type="button" class="btn btn-dark" routerLink="/editar-usuarios/{{u.cpf}}"><i
                  class="fas fa-edit"></i> Editar</button>
              &nbsp;
              <button type="button" class="btn btn-danger" routerLink="/usuarios" (click)="excluirUsuario(u)"><i
                  class="fas fa-trash-alt"></i> Excluir</button>
            </td>
          </tr>
        </ng-template>
      </p-table>

      <p class="line-add-button"><button type="button" class="btn btn-primary" routerLink="/cadastro-usuario"><i
            class="fas fa-plus"></i> Adicionar</button></p>
    </div>
  </article>
</main>